.MenuButton {
    --buttonHeight: 32px;
    display: inline-flex;
    align-items: center;
    height: var(--buttonHeight);
    padding: 0 calc(var(--buttonHeight) / 2);
    border-radius: calc(var(--buttonHeight) / 2);
    background-color: var(--buttonColor);
    color: var(--knockoutColor);
    transition: var(--hoverTransition);
    transition-property: background-color, opacity
}

@media (pointer: fine) {
    .MenuButton:hover {
        background-color: var(--buttonHoverColor, var(--buttonColor));
        opacity: var(--buttonHoverOpacity, 1)
    }
}

@media (pointer: coarse) {
    .MenuButton:active {
        background-color: var(--buttonHoverColor, var(--buttonColor));
        opacity: var(--buttonHoverOpacity, 1)
    }
}
